---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.jsx";
---

<Layout title="CUANTO FALTA PARA EL 18">
  <main>
    <h1 class="text-white text-4xl text-center py-2">
      Cuánto falta para el 18
    </h1>
    <Counter client:only/>
  </main>
</Layout>
